.who{
    border: 2px solid #3fc535;
    border-radius: 8px;
    width: 95%;
    height: 250px;
    text-align: center;
    padding: 0 15px;
    margin: 0 auto;
}
.img-c{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}